* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.search-bar {
    margin: 200px auto;
    border: 1px solid #ccc;
    width: 700px;
    border-radius: 30px;
    padding: 5px 10px;
    transition: all .5s ease-in-out;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    &:focus-within {
        border: 1px solid #aaa;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .2)
    }
}

.search-bar input[type="text"] {
    border:none;
    font-size: 18px;
    outline: none;
    padding: 10px;

    flex: 1;
}

.search-bar .actions {
    display: flex;
    gap: 5px;
}

.search-bar .actions button {
    border: none;
    outline: none;
    background: none;
    color: #999;
    cursor: pointer;
    transition: color .3s ease-in-out;

    &:hover {
        color: #2979e2;
    }
}